<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Početna - Stemići{% endblock %}

{% block content %}
<section class="hero-text">
  <h2>Uštedi vrijeme i novac digitalizacijom i automatizacijom poslovnih procesa</h2>
  <p>Biraj između poslovnih edukacija ili gotovih rješenja za tvoju organizaciju
  </p>
</section>

<section class="cards-section" id="edukacije">
  <a href="{{ url_for('edukacije') }}">
    <div class="card">
      <!--<div class="emoji">📘</div>-->
      <h3>Poslovne edukacije</h3>
      <p>Digitalna transformacija počinje znanjem.
        Vodimo vas kroz konkretne poslovne izazove.
        Naše edukacije su jasne, praktične i primjenjive.
        Potičemo timski rad i kritičko razmišljanje.
        Rezultat: sigurni koraci prema stvarnom uspjehu. </p>
    </div>
  </a>

  <a href="{{ url_for('rjesenja') }}">
    <div class="card">
      <!--<div class="emoji">💡</div>-->
      <h3>IT usluge</h3>
      <p>Procjenjujemo vašu trenutnu digitalnu spremnost
        i predlažemo konkretna, primjenjiva rješenja.
        Naš tim pokriva širok spektar IT usluga,
        od infrastrukture do sigurnosti. 
        Digitalna podrška prilagođena baš vama. </p>
    </div>
  </a>

  
  <div class="card">
    <!--<div class="emoji">🛜</div>-->
    <h3>Edukacije i za djecu</h3>
    <p>Učimo djecu modernim tehnologijama. <br>
      Programiranje, robotika, AI i više. <br>
      Instrukcije iz tehničkih predmeta. <br>
      Razvijamo logiku i digitalne vještine. <br>
      Znanje za bolju i sigurniju budućnost.</p>
  </div>
</section>

<section id="blog" class="blog-section">
  <h2 class="blog-title">Uspješne priče digitalnog doba!</h2>
  <div class="blog-cards">
    <div class="blog-card">
      <img src="{{ url_for('static', filename='img/slika1.jpg') }}" alt="Priča 1" width="50" height="50">
      <h3>Kako je učenik naučio Python za 2 mjeseca</h3>
      <p>Upoznajte Luku koji je uz naše radionice iz programiranja napravio svoju prvu igru.</p>
      <a href="prica1.html">Pročitaj više</a>
    </div>
    <div class="blog-card">
      <img src="{{ url_for('static', filename='img/slika2.jpg') }}" alt="Priča 2" width="50" height="50">
      <h3>Škola u Zagrebu koristi IoT u nastavi</h3>
      <p>Učenici osnovne škole koriste senzore za mjerenje kvalitete zraka – uz pomoć STEM edukacije.</p>
      <a href="prica2.html">Pročitaj više</a>
    </div>
    <div class="blog-card">
      <img src="{{ url_for('static', filename='img/slika3.jpg') }}" alt="Priča 3" width="50" height="50">
      <h3>Excel kao supermoć u svakodnevici</h3>
      <p>Od budžeta do analiza - saznaj kako su polaznici digitalizirali svoje zadatke uz Excel.</p>
      <a href="prica3.html">Pročitaj više</a>
    </div>
    <div class="blog-card">
      <img src="{{ url_for('static', filename='img/slika4.png') }}" alt="Priča 4" width="50" height="50">
      <h3>Djeca i umjetna inteligencija - spoj budućnosti</h3>
      <p>Djeca uče prepoznati što je AI i kako ga koristiti odgovorno kroz interaktivne igre.</p>
      <a href="prica4.html">Pročitaj više</a>
    </div>
  </div>

  <div class="blog-button-wrapper">
    <a href="sve-price.html" class="blog-button">Pogledaj sve priče</a>
  </div>

</section>
{% endblock %}

  